// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: "Source Code Pro", "Lucida Console", monospace;

// Colors
$bg-color: #fdf6e3 !default;
$fg-color: #657b83 !default;
$alt-bg-color: #eee8d5 !default;
$alt-fg-color: #586e75 !default;
$link-color: #268bd2 !default;

// Colors dark
$bg-color-dark: #002b36 !default;
$fg-color-dark: #839496 !default;
$alt-bg-color-dark: #073642 !default;
$alt-fg-color-dark: #93a1a1 !default;
$link-color-dark: #2aa198 !default;
